<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar.css') }}">
  </head>
  <body>
    <header>
      <h1>Cadastro de Livro</h1>
    </header>

    <main>
      <p>Preencha os campos abaixo para cadastrar um novo livro:</p>

      <form>
        <label for="titulo">Título do Livro</label>
        <input
          type="text"
          id="titulo"
          name="titulo"
          placeholder="Estruturas de Dados Usando C"
          required
        />

        <label for="autor">Autor</label>
        <input
          type="text"
          id="autor"
          name="autor"
          placeholder="Aaron M. Tenenbaum"
          required
        />

        <label for="ano">Ano de Publicação</label>
        <input type="date" id="ano" name="ano" required />

        <label for="categoria">Categoria</label>
        <input
          type="text"
          id="categoria"
          name="categoria"
          placeholder="Programação"
          required
        />

        <button type="submit">Adicionar</button>
      </form>

      <a href="../index.html">Voltar para a página inicial</a>
    </main>

    <footer>
      <p>Projeto Integrador IESB 2025.</p>
    </footer>

    <script src="../js/cadastrar.js"></script>
  </body>
</html>
