<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excluir Livro</title>
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Link para o CSS -->
  </head>
  <body>
    <header>
      <h1>Excluir Livros</h1>
    </header>

    <main>
      <p>Página de Exclusão em Manutenção!</p>
    </main>

    <a href="../index.html">Voltar para a página inicial</a>
    <!-- Link de retorno -->
  </body>
</html>
