<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>SophiaPY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <header>
      <h1>SophiaPY</h1>
    </header>

    <div class="menu">
      <div class="menu-item">
        <a href="/cadastrar">
          <img src="{{ url_for('static', filename='images/icone-cadastrar.png') }}" alt="Cadastrar" />
        </a>
        <p>Cadastrar</p>
      </div>

      <div class="menu-item">
        <a href="/editar">
          <img src="{{ url_for('static', filename='images/icone-editar.png') }}" alt="Cadastrar" />
        </a>
        <p>Editar</p>
      </div>

      <div class="menu-item">
        <a href="/excluir">
          <img src="{{ url_for('static', filename='images/icone-excluir.png') }}" alt="Cadastrar" />
        </a>
        <p>Excluir</p>
      </div>

      <div class="menu-item">
        <a href="/consultar">
          <img src="{{ url_for('static', filename='images/icone-consultar.png') }}" alt="Cadastrar" />
        </a>
        <p>Consultar</p>
      </div>
    </div>

    <footer>
      <p>Projeto Integrador IESB 2025.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
